<% if @game.current_turn == @game.player1 %>
<%= @game.player1.name %> attacked <%= @game.player2.name %>
<% else %>
<%= @game.player2.name %> attacked <%= @game.player1.name %>
<% end %>
<br>

<form action="/switch_turns" method="post">
  <input type="submit" value="OK">
</form>
