<h1> Welcome to the biggest battle!</h1>
<h2>The opponents should enter their names</h2>

<form action="/names" method="post">
  <label for="player_1_name">
    Challenger uno
  <input type="text" name="player_1_name" >
</label>
<label for="player_2_name">
  Challenger dos
  <input type="text" name="player_2_name" >
  </label>
  <input type="submit" value="BATTLE!">
</form>
