<%= @game.player1.name %> vs. <%= @game.player2.name %><br>
<%= @game.player2.name %>'s hitpoint is <%= @game.player2.points %>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
